{{page-title "Ex1"}}
<div class="card" style="padding: 1em;">
  <div class="card-header">
    <h2> Application note :</h2>
  </div>

  <Textarea @value={{this.text}} maxLength={{this.MAX}}/>
  <div class="bs-alert alert-info">{{this.size}} caractères</div>
  <div class="alert alert-{{this.alert}}" role="alert">{{this.MAX}}</div>
  <div class="alert alert-dark" style="display: {{this.saveDisplay}}; margin-top: 2em;" role="alert">
    <b>Text saved :</b><br>
    {{this.savedText}}<br>
    <button type="button" class="btn btn-secondary" style="margin-top: 0.8em;" {{on "click" (fn this.savedText ''
    )}}>Delete</button>
  </div>
  {{#if this.isFull}}
    <span class="badge badge-warning">Full</span>
  {{/if}}
  <button {{action "reset"}}>Reset</button>
  <button {{action "save"}}>Save</button>
</div>
{{outlet}}